@use 'styles' as *;

header {
    background-color: $secondary-color;
    padding: 1rem;
    display: flex;
   justify-content: space-between;
    a{
        text-decoration: none;
        color: $primary-color;
    }
  }
  
  footer {
    background-color: $primary-color;
    color: $light-color;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
  }