$primary-color: #222222;
$secondary-color: #C8B08C;
$danger-color: #f44336;
$light-color: #f9f9f9;
$dark-color: #000000;
$font-color: #3B3B3B;

$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  color: $primary-color;
}

