<section> 

    <img src="Aska.png" alt="Aska">
</section>

<section> 
 <h1> <strong>ANIMIA </strong>: Simplifiez la gestion des soins de vos animaux</h1>
<p>
    Animia est l’application idéale pour suivre la <strong>santé</strong> de vos animaux. Grâce à des rappels pour les <strong> vaccins</strong>, les <strong> traitements </strong>et les <strong> vermifuges</strong>, vous ne manquerez aucun soin essentiel. Enregistrez les traitements en cours et consultez facilement l’historique de chaque animal, tout dans une interface simple et intuitive.</p>
</section>

<section> 
<h2>Prêt à prendre <strong>SOIN</strong> de vos animaux ?</h2>  

<p>
    Ne laissez plus les soins de vos animaux au hasard !  Recevez des <strong> notifications </strong> personnalisés, suivez les traitements en cours et assurez-vous que vos <strong> compagnons</strong> sont toujours en bonne santé.
    Rejoignez-nous et commencez dès aujourd'hui !  </p>

    <a href="/">
<img src="heart.svg" alt="coeur avec une patte à l'intérieur">

AJOUTE TON ANIMAL

    </a>
    <div></div>

</section>
